<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="host" value="localhost" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="Microsoft.Office.Interop.Excel, Version=15.0.0.0, Culture=neutral, PublicKeyToken=71E9BCE111E9429C"/>
      </assemblies>
    </compilation>
  </system.web>
  <system.webServer>
    <defaultDocument>
      <files>
        <remove value="iisstart.htm"/>
        <remove value="default.aspx"/>
        <remove value="index.htm"/>
        <remove value="index.html"/>
        <remove value="Default.asp"/>
        <remove value="Default.htm"/>
        <add value="content/seguridad/login.html"/>
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>